
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}


/* barra lateral */

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border: 1px solid rgba(103, 0, 0, 0.74);
    border-radius: 5rem;
}


/* animação scroll */

[data-animate]{
    opacity: 0;
    transform: translate3d(0, -70px, 0);
    transition: opacity 1s, transform 1s;
}


[data-animate].anime{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* cabeçalho */

header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    
}
header > .interface{
    gap: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    z-index: 9;
    padding-top: 20px;
    
}
.interface{
    width: 100%;
    position: fixed;
}
.interface .menu-desktop ul{
    padding-left: 20px;
    align-items: center;
    display: flex;
    gap: 50px;
    flex-direction: row;
    list-style: none;
}

.interface a{
    text-decoration: none;
    color: #fff;
}
.interface .menu-desktop ul li a{
    display: inline-block;
    color: #717171;
    padding-bottom: 3px;
}
.interface .menu-desktop ul li a:hover{
    transition: 1.05s;
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.interface .logo a {
    text-align: center;
    text-shadow: -2px 3px 1px rgba(138, 0, 0);
    font-family: 'Ephesis', cursive;
    font-size: 28px;
}
.interface .logo a h2{
    position: relative;
    bottom: 17px;
}
.btn-contato button{
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    background-color: rgb(138, 0, 0);
    color: #fff;
    cursor: pointer;
}
.btn-contato button:hover{
    transition: 0.6s;
    transform: scale(1.07);
    box-shadow: 0px 0px 12px rgb(255, 1, 1);
}

/*menu mobile*/
.btn-abrir-menu ion-icon{
    display: none;
    color: rgb(108, 0, 0);
    font-size:50px ;
}
.menu-mobile{
    
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile.abrir-menu{
    width: 58%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 4%;
}
.menu-mobile .btn-fechar ion-icon{
    color: rgb(108, 0, 0);
    font-size: 40px;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    padding-bottom: 0px;
    color: #fff;
    font-size: 17px;
    padding: 20px 4%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-mobile nav ul li a:hover{
    background-color: rgb(108, 0, 0)
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888888;
    display: none;
}



/* --- MAIN --- */

/* --- informações basicas --- */
.txt-info-basic{
    color: #ffffff;
}

.topo-site{
    display: flex;
    justify-content: center;
    padding: 200px 0 55px 0;
}
.info-basic{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.info-basic h1{
    font-size: 40px;
}
.info-basic h2{
    padding-left: 15px;
    padding-bottom: 25px;
}
.info-basic p{
    padding-bottom: 25px;
    max-width:40rem;
}
.info-basic span{
    color: rgb(108, 0, 0);
}
.img-info-basic img{
    position: relative;
    object-fit: cover;
    width: 350px;
    height:350px;
    border-radius: 50%;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}



/* --- formação academica | habilidades --- */

.especialidades{
    display: flex;
    justify-content: center;
    padding: 140px 4% 0px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.especialidades h1{
    text-align: center;
    
}
.especialidades h1 .span-formaçao1{
    font-weight: 700;
    color: rgb(108, 0, 0);
}
.flex-formacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding:60px;
}
.flex-formacao ion-icon{
    font-size: 65px;
    color: rgb(108, 0, 0);
}
.especialidades h3{
    font-size: 28px;
    margin: 15px 0;
}

.formacao-box{
    width: 20%;
    border-radius: 15px;
    padding: 30px;
    transition: .6s;
}

.formacao-box:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.368);
}


/* --- habilidades-interpessoais --- */

.interpessoais{
    padding: 0 4%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.habilidades-interpessoais{
    padding: 0 76px;
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: row;
    max-width: 80rem;
}
.habilidades-interpessoais img{
    width: 350px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}
.txt-inter{
    color: #fff;
}
.txt-inter p{
    max-width: 50rem;
    margin: 10px 0;
}
.txt-inter h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.txt-inter span{
    color: rgb(108, 0, 0);
}



/* --- Projetos pessoais --- */

.proj-pessoais {
    display: flex;
    padding: 140px 4% 120px;
    font-family: 'Poppins', sans-serif;
}

.exp-box {
    text-align: center;
    width: 100%;
}

.exp-box h2 {
    color: #fff;
    margin-bottom: 60px;
    font-size: 36px;
}

.exp-box span {
    border-bottom: 4px solid rgb(108, 0, 0);
}

.flex-exp {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.flex-exp a {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex: 1 1 calc(33.333% - 60px);
    max-width: calc(33.333% - 60px); 
    text-decoration: none; 
}

.exp-img {
    display: flex;
    border-radius: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    position: relative;
}

.exp-img:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    opacity: 1;
    transition: .5s;
}

.overlay:hover {
    opacity: 0;
}



/* --- interesses & hobbies --- */

.interesses-e-hobbies{
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.intere-hobb{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.intere-hobb p{
    max-width: 50rem;
    margin: 10px 0;
}
.intere-hobb h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.intere-hobb span{
    color: rgb(108, 0, 0);
}
.hobbies-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.hobbies-icons span{
    color: rgb(108, 0, 0);
    font-size: 55px;
}
.hobbies-icons ion-icon{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    font-size: 47px;
    transition: 0.3s;
    margin-top: 10px;
    margin-right: 4.5px;
}



/* --- footer --- */

.footer{
    padding-top: 30px;
    background:black;
    text-align: center;
}
.footer .btn-contato{
    padding: 80px 0px 15px 0px;
}
.footer .btn-contato button{
    background-color: #fffffff1;
    color: rgb(108, 0, 0);
    border: 2px solid rgb(108, 0, 0);
}
.footer .btn-contato button:hover{
    background-color: rgb(108, 0, 0);
    color: #fffffff1;
    transition: 0.5s;
}
.footer .credit{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color:#fff;
    font-weight: lighter;
    padding-bottom: 1.5rem;
}

.footer .credit span{
    font-weight: 700;
    color:rgb(108, 0, 0);
}